@media screen and (min-width: 40rem) {
    /* Styles pour les écrans de 40rem et plus */
    .sports {
        display: flex;
        gap: 2em;
        /* Placer les enfants de .sports côte à côte */
    }
    
    nav ul {
        display: flex;
        gap: 1rem;
    }
    
    nav a {
        font-size: 2rem; /* Ajuster la taille de la police pour les grands écrans */
    }
    
    h1 {
        font-size: 5rem; /* Ajuster la taille de la police pour les grands écrans */
    }
    
    .imgpaddle {
        width: 400px; /* Ajuster la taille de l'image pour les grands écrans */
    }
}

/*
@media screen and (width>=40rem){
    .page{
    display : flex;
    gap: 2rem;
    }
    nav ul{
        display: flex;
        gap: 1rem;
    }

.partie {
    min-height: 70vh;
}

.partie--relief img {
    margin-top: 3.5rem;
}


}*/